@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('../fonts/FiraSans-Light.ttf');
    font-weight: 100;
    // font-style: normal;
}

@import './constants.less';
@import './scrollbar.less';
@import './buttons.less';

// ========================================================================

html {
    scroll-behavior: smooth;
}

::selection {
    background: none; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: none; /* Gecko Browsers */
}

input[type='text'] {
    display: block;
    min-width: 100px;
    margin: 0 0 20px;
    padding: 8px 12px 10px 12px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: none;
    color: whitesmoke;
}

input[type='text']:active,
input[type='text']:focus {
    outline: none;
    // outline-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border: none;
    border-bottom: 2px solid rgba(180, 20, 20, 0.5);
}

.float-text-wrapper {
    overflow: hidden;
    width: 50%;
    .float-text {
        white-space: nowrap;
        width: 100%;
        animation: floatText 12s infinite linear;
    }
}

@max-right: translateX(100%);
@max-left: translateX(-172%);

@-moz-keyframes floatText {
    0% {
        -moz-transform: @max-right;
    }
    100% {
        -moz-transform: @max-left;
    }
}
@-webkit-keyframes floatText {
    0% {
        -webkit-transform: @max-right;
    }
    100% {
        -webkit-transform: @max-left;
    }
}
@keyframes floatText {
    0% {
        -moz-transform: @max-right; /* Firefox bug fix */
        -webkit-transform: @max-right; /* Firefox bug fix */
        transform: @max-right;
    }
    100% {
        -moz-transform: @max-left; /* Firefox bug fix */
        -webkit-transform: @max-left; /* Firefox bug fix */
        transform: @max-left;
    }
}

.edit-playlist-input {
    margin-left: 10px;
    // background-color: #f8f8f8;
}

.move-cursor {
    cursor: e-resize;
}

.song-play-button {
    margin: auto 10px;
    // padding: 10px;
}

.danger {
    color: rgba(170, 153, 0, 0.76);
}

.danger:hover {
    color: rgba(170, 77, 0, 0.918);
}

.disabled {
    cursor: default !important;
    color: rgba(245, 235, 179, 0.3);
}

.disabled:hover {
    color: rgba(245, 235, 179, 0.3);
}

.border-bottom-light {
    border-bottom: rgba(245, 222, 179, 0.05) solid 2px;
}

.border-top-light {
    border-top: rgba(245, 222, 179, 0.05) solid 2px;
}

.tree-item {
    display: inline;
    min-width: @explorer-width;
    &.active {
        color: @active-text-color;
        // background-color: none;
        font-weight: 700;
    }
    .tiny-text {
        color: @medium-text-color;
        margin-left: 20px;
        padding-top: 0;
        font-size: 9px;
    }
}

.tree-item-title {
    min-width: @explorer-width;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    // padding: 3px 3px;
}

.stick-right {
    position: absolute;
    right: 1%;
}

.flexbox-parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: @badge-color;
}

.flexbox-item-grow {
    flex: 1;
    min-height: 0;
    // box-sizing: border-box;
}

.no-pad {
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.toolbar {
    width: 50px;
    padding: 8px 2px;
    text-align: center;
    background-color: @badge-color;
    color: @light-text-color;
    font-size: 2em;

    i:hover {
        color: #dcdcdc;
    }
}

.flexbox-item-grow > h3 {
    text-shadow: 1px 1px 1px #fff;
}

.current-song-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .title-text {
        color: @light-text-color;
        margin-top: 5px;
        padding-top: 0;
        font-size: 13px;
    }
    .active {
        color: @active-text-color;
        // background-color: none;
        background-color: rgba(180, 40, 40, 0.6);
        font-weight: 700;
    }
}

.container-audio {
    width: 97%;
    min-height: fit-content;
    // padding: 20px;
    border-radius: 5px;
    // background-color: @badge-color;
    color: #d4d4d4;
    margin: 0px auto;
    padding-bottom: 0;
    overflow: hidden;
}

.padding-bottom {
    padding-bottom: 30px;
}

.border-bottom {
    padding-bottom: 5px;
    border-bottom: rgba(245, 222, 179, 0.15) solid 2px;
}

.centered {
    text-justify: auto;
    text-align: center;
}

.main {
    overflow: auto;
    height: auto;
    flex: 4;
    display: flex;
    flex-direction: column;
    background-color: @dark-primary-color;
    color: #d4d4d4;

    // .main-body {
    //     overflow: auto;
    //     height: auto;
    //     padding: 0 10px;
    // }

    // .title-text {
    //     color: @light-text-color;
    //     margin-left: 20px;
    //     padding: 10px;
    //     font-size: 1rem;
    //     text-align: center;
    // }

    // .tiny-text {
    //     color: @medium-text-color;
    //     // margin-left: 20px;
    //     padding-top: 0;
    //     font-size: 10px;
    //     text-align: center;
    // }
}

h3.active {
    color: @active-text-color;
    // background-color: none;
    font-weight: 700;
}

.song-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding: 0px 2rem;

    .tiny-text {
        color: @medium-text-color;
        margin-left: 20px;
        font-size: 11px;
    }
}

// .song-container:hover {
//     // cursor: grab;
// }

// .song-container:active {
//     // cursor: grabbing;
// }

// .song-container:focus {
//     // cursor: grab;
// }
