@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('../fonts/FiraSans-Light.ttf');
    font-weight: 100;
    // font-style: normal;
}

@import './constants.less';
@import './scrollbar.less';

// ========================================================================

html {
    scroll-behavior: smooth;
}

::selection {
    background: none; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: none; /* Gecko Browsers */
}

.float-text-wrapper {
    overflow: hidden;
    width: 50%;
    .float-text {
        white-space: nowrap;
        width: 100%;
        animation: floatText 12s infinite linear;
    }
}

@max-right: translateX(100%);
@max-left: translateX(-172%);

@-moz-keyframes floatText {
    0% {
        -moz-transform: @max-right;
    }
    100% {
        -moz-transform: @max-left;
    }
}
@-webkit-keyframes floatText {
    0% {
        -webkit-transform: @max-right;
    }
    100% {
        -webkit-transform: @max-left;
    }
}
@keyframes floatText {
    0% {
        -moz-transform: @max-right; /* Firefox bug fix */
        -webkit-transform: @max-right; /* Firefox bug fix */
        transform: @max-right;
    }
    100% {
        -moz-transform: @max-left; /* Firefox bug fix */
        -webkit-transform: @max-left; /* Firefox bug fix */
        transform: @max-left;
    }
}

.song-play-button {
    margin: auto 10px;
    // padding: 10px;
}

.danger {
    padding-left: 10px;
    color: rgba(170, 153, 0, 0.76);
}

.danger:hover {
    padding-left: 10px;
    color: rgba(170, 77, 0, 0.918);
}

.disabled {
    color: rgba(245, 235, 179, 0.3);
}

// .active {
//     // background-color: rgba(245, 222, 179, 0.15);
// }

.btn:active {
    // background-color: rgba(245, 222, 179, 0.15);
    color: @active-text-color;
}

.transition {
    transition: all 0.1s ease;
}

.border-bottom {
    border-bottom: rgba(245, 222, 179, 0.15) solid 2px;
}

.border-bottom-light {
    border-bottom: rgba(245, 222, 179, 0.05) solid 2px;
}

.song-list-container {
    padding: 20px 40px;
}

.tree-item {
    padding: 4px 10px;
    width: @explorer-width;
    margin: 0;
    &.active {
        color: @active-text-color;
        // background-color: none;
        font-weight: 700;
    }
    .tiny-text {
        color: @medium-text-color;
        margin-left: 20px;
        font-size: 9px;
    }
}

.tree-item:hover {
    cursor: grab;
    background-color: @badge-color;
}

.tree-item:active {
    cursor: grabbing;
    background-color: @badge-color;
}

.tree-item-title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0;
    margin: 5px 0;
    // background-color: red;
}

.stick-right {
    position: absolute;
    // background-color: red;
    right: 5%;
}

.flexbox-parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: @badge-color;
}

.flexbox-item-grow {
    flex: 1;
    min-height: 0;
}

.no-pad {
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.toolbar {
    width: 50px;
    padding: 8px 2px;
    text-align: center;
    background-color: @badge-color;
    color: @light-text-color;
    font-size: 2em;

    i:hover {
        color: #dcdcdc;
    }
}

.flexbox-item-grow {
    // font-family: 'Allerta', arial, Tahoma;
    box-sizing: border-box;
}

.flexbox-item-grow > h3 {
    text-shadow: 1px 1px 1px #fff;
}

.current-song-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    height: 20px;
    padding: 10px;
}

.container-audio {
    width: 90%;
    min-height: fit-content;
    // padding: 20px;
    border-radius: 5px;
    // background-color: @badge-color;
    color: #d4d4d4;
    margin: 8px auto;
    overflow: hidden;
}

.border-bottom {
    padding-bottom: 20px;
    border-bottom: rgba(245, 222, 179, 0.15) solid 2px;
}

.transition {
    transition: all 0.1s linear;
}

.centered {
    text-justify: auto;
    text-align: center;
}

.main {
    overflow: auto;
    height: auto;
    flex: 4;
    display: flex;
    flex-direction: column;
    background-color: @dark-primary-color;
    color: #d4d4d4;

    .main-body {
        overflow: auto;
        height: auto;
        padding: 0 10px;
    }
}

.song-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 2rem;

    .tiny-text {
        color: @medium-text-color;
        margin-left: 20px;
        font-size: 11px;
    }
}

// .song-container:hover {
//     // cursor: grab;
// }

// .song-container:active {
//     // cursor: grabbing;
// }

// .song-container:focus {
//     // cursor: grab;
// }
