aside {
  &.sidebar {
    min-width: 120px;
    padding: 8px;
    overflow-y: auto;
    background-color: #252526;
    color: #adadad;
  }
  &.info-sidebar {
    min-width: 120px;
    padding: 8px;
    overflow-y: auto;
    background-color: #252526;
    color: #adadad;
  }
  ul {
    padding: 0 1rem;
  }
}
