@import '../../assets/styles/constants.less';

aside {
    overflow-x: hidden;
    &.sidebar {
        min-width: 120px;
        width: @explorer-width;
        padding: 10px;
        overflow-y: auto;
        background-color: @light-primary-color;
        color: @light-text-color;
    }
    &.info-sidebar {
        min-width: 120px;
        padding: 8px;
        overflow-y: auto;
        background-color: @light-primary-color;
        color: @light-text-color;
    }
    ul {
        padding: 0 1rem;
    }
}
